@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200&display=swap');

.register-form {
    position: absolute;
    left: 33%;
    right: 33%;
    top: 20%;
    bottom: 10%;
    background: #FFFFFF;
    box-shadow: 1px 5px 7px #EEF1F7;
    border-radius: 3%;
}

img.gear-grey {
    position: absolute;
    bottom: 0px;
    width: 45%;
    height: 70%;
}
img.gear-red {
    position: absolute;
    top: 11%;
    right: 27%;
    width: 11%;
    height: 20%;
}

p.header {
    margin-top: 2%;
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 900;
    font-size: 350%;
    text-align: center;
    color: #0B0754;
}

.field-name {
    text-indent: 10%;
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 105%;
    line-height: 175%;
    color: #747474;
}

.text-field {
    bottom: 3%;
    left: 10%;
    font-family: 'Poppins', sans-serif;
    background: #FFFFFF;
    border: 2px solid #4951EC;
}

button.register {
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 900;
    margin-top: 5%;
    font-size: 150%;
    width: 80%;
    left:10%;
    height: 8%;
    background-color: #4951EC;
    border-color: #4951EC;
}

.small-text {
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 105%;
    align: center;
    color: #747474;
}

.link {
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 105%;
    color: #4951EC;
    text-decoration: underline;
}